@import "tailwindcss";

@layer base {
  body {
    @apply bg-surface-page text-text-primary;
  }
  a {
    @apply no-underline;
  }
  button {
    @apply cursor-pointer;
  }
}

@theme {
  /* Surface */
  --color-surface-page: #0c0c0c;
  --color-surface-header: #212121;
  --color-surface-input: #363636;
  /* Text */
  --color-text-primary: #ffffff;
  --color-text-secondary: #777777;
  /* Accent */
  --color-accent-start: #ff30ac;
  --color-accent-end: #c882ff;
  --color-badge-start: #ff6e30;
  --color-badge-end: #ffdc82;
}

@layer utilities {
  .accent-gradient {
    @apply bg-linear-to-r from-accent-start to-accent-end;
  }

  .badge-gradient {
    @apply bg-linear-to-r from-badge-start to-badge-end;
  }
}
